node_modules
.env
.env.*
.env*
serviceAccount.json
dist
build
.DS_Store

/dist
node_modules
.DS_Store
.firebase/

# Build artifacts
dist/

# Backup folders
__bak/
backups/
__js_backup*/

# Backup files
*.bak
*.old
*.backup
